<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container min-h-screen flex flex-col lg:flex-row items-center justify-center">
        <main class=" flex justify-center items-center p-4">
            <div class="form-container w-96 bg-gray-200 rounded-xl p-4">
                <h1 class="text-3xl font-bold text-gray-900 mb-10 text-center">
                    Upload your Aadhar
                </h1>
                <form
                    id="uploadForm1"
                    action="/upload/aadhar"
                    method="POST"
                    enctype="multipart/form-data"
                    class="flex flex-col items-center w-full"
                >
                    <label
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        for="file_input"
                        >Upload file</label
                    >
                    <input
                        class="block  w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                        id="file_input"
                        type="file"
                        name="document"
                    />
                    
                    <button
                        type="submit"
                        class="py-2 px-4 text-white font-medium bg-blue-500 rounded-xl my-4"
                    >
                        Submit
                    </button>
                </form>
                <div id="loadingSpinner1" class="loading-spinner"></div>
                <% if (detailsAadhar && detailsAadhar.length > 0) { %>
                <div class="mt-4 w-full">
                    <% detailsAadhar.forEach(function(detail) { %>
                    <div class="mt-2 text-gray-700">
                        <strong><%= detail.key %>:</strong> <%= detail.value %>
                    </div>
                    <% }); %>
                </div>
                <% } %>
            </div>
        </main>
        <main class=" flex justify-center items-center p-4">
            <div class="form-container w-96 bg-gray-200 rounded-xl p-4">
                <h1 class="text-3xl font-bold text-gray-900 mb-10 text-center">
                    Upload your Passport
                </h1>
                <form
                    id="uploadForm2"
                    action="/upload/passport"
                    method="POST"
                    enctype="multipart/form-data"
                    class="flex flex-col items-center w-full"
                >
                    <label
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        for="file_input"
                        >Upload file</label
                    >
                    <input
                        class="block  w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                        id="file_input"
                        type="file"
                        name="document"
                    />
                    
                    <button
                        type="submit"
                        class="py-2 px-4 text-white font-medium bg-blue-500 rounded-xl my-4"
                    >
                        Submit
                    </button>
                </form>
                <div id="loadingSpinner2" class="loading-spinner"></div>
                <% if (detailsPassport && detailsPassport.length > 0) { %>
                <div class="mt-4 w-full">
                    <% detailsPassport.forEach(function(detail) { %>
                    <div class="mt-2 text-gray-700">
                        <strong><%= detail.key %>:</strong> <%= detail.value %>
                    </div>
                    <% }); %>
                </div>
                <% } %>
            </div>
        </main>
        <script>
            document
                .getElementById('uploadForm1')
                .addEventListener('submit', function () {
                    document.getElementById('loadingSpinner1').style.display =
                        'block';
                });
            document
                .getElementById('uploadForm2')
                .addEventListener('submit', function () {
                    document.getElementById('loadingSpinner2').style.display =
                        'block';
                });
        </script>
    </body>
</html>
